<h1>You have reached... Paul Hutchinson</h1>

<%= link_to("Projects", class_projects_path)%>
<%= link_to("Articles", articles_path)%>
<%= link_to("@apaulhutchinson online", links_path)%>
<%= link_to("Contact", contacts_path)%>