<h1><%= @contact.name %></h1>

<p><%= @contact.email %></p>
<p><%= @contact.message %></p>



    t.string   "name"
    t.text     "email"
    t.text     "message"

<p><%= link_to("Home", root_path)%></p>