<h1>Class Projects Index</h1>

<% @class_projects.each do |class_project| %>
  <p><%= link_to(class_project.name, class_project_path(class_project.id)) %></p>
<% end %>

<p><%= link_to("Home", root_path)%></p>
